:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

.item-exit-active {
    transform: translateY(-500%);
    transition: transform 700ms ease-out;
}

.item-appear.item-appear-active {
    transform: translateY(0%);
    transition: transform 700ms ease-in;
}

.item-enter {
    transform: translateY(-500%);
}

.item-enter-active {
    transform: translateY(0%);
    transition: transform 700ms ease-in;
}
